<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections> -->
  <appSettings>
    <add key="Environment" value="UrlPassword29Staging" /> <!-- this must point to one of the environments below e.g. PSPLive, URLPasswordStaging-->
    <add key="WebDriverTimeout" value="20" />
    <add key="Browser" value="Chrome" />
    <!-- IE or FireFox or Chrome or Headless -->
    <add key="UrlPasswordStaging" value="http://bmarshall:Weekend30@10.20.23.56/Home/ShowDashboard#/" />
    <add key="UrlNoPasswordStaging" value="http://10.20.23.56/Home/ShowDashboard#/" />
    <add key="UrlPassword28Staging" value="http://bmarshall:Weekend30@10.20.23.56:28100/Home/ShowDashboard#/" />
    <add key="UrlNoPassword28Staging" value="http://10.20.23.56:28100/Home/ShowDashboard#/" />
    <add key="UrlPassword29Staging" value="http://bmarshall:Weekend30@10.20.23.72/Home/ShowDashboard#/" />
    <add key="Live2" value="https://sp2.qa.com/" />
    <add key="Live3" value="https://sp3.qa.com/" />
    <add key="Live" value="https://sp.qa.com/" />
    <add key="ManagerUserName" value="OMILLS" />
    <add key="SalespersonUserName" value="BMARSHALL" />
    <add key="ContactUserName" value="Marshall, Beth" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key ="PSPLive" value ="http://psp/Courses"/>
  </appSettings>
  <!-- <specFlow> -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  <!-- use unit test provider SpecRun+NUnit or SpecRun+MsTest for being able to execute the tests with SpecRun and another provider -->
  <!-- <unitTestProvider name="SpecRun" /> -->
  <!-- <plugins>-->
  <!--   <add name="SpecRun" /> -->
  <!--  </plugins></specFlow> -->
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>